$prime: #00fff1;
$uiBlue: #4605f8;
$uiRed: #ff0051;
$uiGreen: #46fcb4;
$second: #0c1016;
$third: #f0f8ff;

$font: 'Poppins';

@font-face {
    font-family: $font;
    src: url('./../assets/fonts/Poppins-ExtraBold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: $font;
    src: url('./../assets/fonts/Poppins-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: $font;
    src: url('./../assets/fonts/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: $font;
    src: url('./../assets/fonts/Poppins-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: $font;
    src: url('./../assets/fonts/Poppins-ExtraLight.ttf');
    font-weight: 200;
}

body,
html {
    width: 100%;
    height: 100vh;
    background-color: $second;
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: $third;
}

* {
    font-family: $font;
    transition: all 50ms ease;
    box-sizing: border-box;
}

::selection{
    background-color: $third;
    color: $second;
}